body {
	color: #391c78;
}

.sidebar {
	background-color: #f5f5f5;
	border: 1px solid #333;
	position: fixed;
	width: 20%;
}

.sectionContent {
	background-color: #f5f5f5;
	border: 1px solid #333;
	margin-left: 25.35%;
}

.sectionContent h2 {
	padding:20px;
	color:#fff;
	background-color: #391c78;
}

/*------------------------------------------------------*/

/* NAVIGATION BAR */

/*------------------------------------------------------*/

.navbar {
	width: 100%!important;
	position: fixed !important;
	background-color: #391c78;
}

.logo {
	margin-top: 0;
	margin-bottom: 10px;
}

.main-nav {
	margin-top: 18px;
}

.main-nav li {
	margin-left: -6px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	margin-top: 10px;
	border-bottom: none;
	padding: 21px;
	font-weight: 400;
}


.main-nav li a:hover,
.main-nav li a:active {
	background-color: #462294;
}

.active {
	color: #391c78!important;
	background-color: #f1f1f1;
}

.active:hover {
	color: #391c78!important;
	background-color: #f1f1f1!important;
}



/*------------------------------------------------------*/

/* SIDEBAR */

/*------------------------------------------------------*/

.sidenav {
	list-style: none;
}

.sidenav li {
	padding: 20px;
	background-color: inherit;
	transition: background-color 0.2s ease-in-out;
}

.sidenav li a:link,
.sidenav li a:visited {
	text-decoration: none;
	padding: 20px;
}

.sidenav li:hover,
.sideactive {
	background-color: #462294!important;
}

.sidenav li:hover > a,
.sideactive > a {
	color: #fff!important;
}

/*------------------------------------------------------*/

/* SETTINGS */

/*------------------------------------------------------*/

#setting-form {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
}


/*------------------------------------------------------*/

/* COURSES */

/*------------------------------------------------------*/

#courses-table {
	width: 80%;
	margin: 30px auto;
}
#courses-table a {
	text-align: center;
}

#add-course {
	width: 80%;
	margin: 30px auto;
	display: none;
}